{% extends "base.html" %}
{% block content %}
<div class="container" style="max-width: 800px;">
    <br>
    <h3>
        My Todo App
    </h3>
    <br>
    <div class="card_holder">
        <form method="POST" action="/create_task">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">New Task</span>
                    <div class="row">
                        <div class="input-field">
                            <input name="title" id="title" type="text" class="validate">
                            <label for="title">title</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field">
                            <input name="description" id="description" type="text" class="validate">
                            <label for="description">Description</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field">
                            <input name="date" id="date" type="text" class="validate">
                            <label for="date">Date</label>
                        </div>
                    </div>
                </div>
                <div class="card-action">
                    <button type="submit" class="waves-effect waves-light btn">Add Task</button>
                </div>
            </div>
        </form>
        <br>
        <h5>
            Tasks
        </h5>
        {% for task in tasks %}
        <div class="card" 
        {% if task.done == true %}
        style="background-color: rgb(176, 230, 182);"
        {% endif %}
        >
            <div class="card-content">
                <span class="card-title">{{ task.title }}</span>
                <p>{{ task.description }} </p>
                <br>
                <span class="badge">{{ task.date }}</span>
            </div>
            <div class="card-action">
                {% if task.done == true %}
                    <a class="waves-effect waves-light btn orange" href="/done/{{task.id}}">UnDone</a>
                {% else %}
                    <a class="waves-effect waves-light btn" href="/done/{{task.id}}">Done</a>
                {% endif %}
                <a class="waves-effect waves-light btn red" href="/delete_task/{{ task.id }}">Delete</a>
                <a class="waves-effect waves-light btn cyan modal-trigger" href="#modal{{ task.id }}">Edit</a>
            </div>
        </div>
        <div id="modal{{ task.id }}" class="modal" style="padding: 20px; max-width: 600px;">
            <form method="POST" action="/edit_task/{{ task.id }}">
                <h5 class="card-title">Edit Task</h5>
                <div class="row">
                    <div class="input-field">
                        <input name="title" id="title" type="text" class="validate" value="{{task.title}}" >
                        <label for="title">title</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field">
                        <input name="description" id="description" type="text" class="validate" value="{{task.description}}">
                        <label for="description">Description</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field">
                        <input name="date" id="date" type="text" class="validate" value="{{task.date}}" >
                        <label for="date">Date</label>
                    </div>
                </div>
                <div class="card-action">
                    <button type="submit" class="waves-effect waves-light btn grey">Confirm Edit</button>
                    <a href="#!" class="modal-close waves-effect waves-light btn red" >Cancel</a>
                </div>
            </form>
        </div>
        {% endfor %}
    </div>
</div>




<script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>
<script>
    $(document).ready(function() {
        $('.modal').modal();
    });
</script>
{% endblock %}